{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}About Me{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="about">About Me</label>
    <input name="about" id="about" value="{{ request.form['about'] or user.about_me }}" required placeholder="Tell us about yourself">
    <input type="submit" value="Save">
  </form>
  <!-- <hr>
  <form action="{{ url_for('posts.cancel') }}" method="post">
    <input class="danger" type="submit" value="Cancel"> 
  </form> -->
{% endblock %}