{% extends 'base.html' %} {% block content %}

  <div class="container">
    <div class="col">
      <div class="profile_box">
      <img
        src="{{url_for('static', filename = 'images/' + user.profile_picture)}}"
        alt="{{ user.username }}"
        width="120"
        height="120"
      />
      <h1>{{ user.username.capitalize() }}</h1>
      <h3>About Me</h3>
      <p>{{ user.about_me }}</p>
      {% if g.user.id == user.id %}
      <a class="action" href="{{ url_for('posts.about_me', id=g.user.id) }}"
        >Edit</a
      >
      {% endif %}
      </div>
    </div>
    <div class="col">
      {% for post in posts %}
      <article class="post">
        <header>
          <div>
            <div class="profile">
              <img
                class="profile_img"
                src="{{url_for('static', filename = 'images/' + post.user_profile_picture, id=post.id)}}"
                alt="{{ posts.author_id }}"
                width="60"
                height="60"
              />
              <div class="username">
                <a href="{{ url_for('posts.profile', id=post.author_id) }}"
                  >{{ post.username }}</a
                >
              </div>
            </div>
            <h1>{{ post.title }}</h1>
            <div class="about">
              posted at {{ post.created.strftime('%H:%M') }} - {{ post.num_likes
              }} like(s)
            </div>
          </div>
          {% if g.user.id == post.author_id %}
          <a class="action" href="{{ url_for('posts.update', id=post.id) }}"
            >Edit</a
          >
          {% endif %}
        </header>
           
          {% if post.body.endswith(('.jpeg', '.jpg', '.png', '.gif', '.ico', '.bmp')) %} 
          <div class="pic_center">
            <img src="{{url_for('static', filename = 'images/' + post.body, id=post.id)}}" alt="a photo uploaded by a user" width="70%" height="auto">
          </div>
          {% else %}
            <p class="body">{{ post.body }}</p>
          {% endif %} 

        <form
          action="{{ url_for('posts.like_post', id=post.id) }}"
          method="post"
          id="form1"
        >
          <input type="submit" value="Like" />
        </form>
      </article>
      {% if not loop.last %}
      <hr>
    {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
