{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Photo Uploader{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Photo Caption</label>
    <input name="caption" id="caption" value="{{ request.form['caption'] }}" required>
    <label for="body">Pick A Photo</label>
    <input type = "file" name = "file" />
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('posts.cancel') }}" method="post">
    <input class="danger" type="submit" value="Cancel"> 
  </form>
{% endblock %}